* {
    font-family: "Courier New"
}

#header{
    color: black;
    font-size: 30px;
}

h1 {
    color: rgba(47, 47, 150);
    font-size: 30px; 
}

h2 {
    color: rgb(0, 174, 255);
}




.form {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    text-align: center;
    background-color: rgb(209, 209, 209);
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}




.input {
    width: auto;
    text-align: left;
    border-width: 4px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin: 5px;
}

textarea {
    max-width: 80%;
    min-width: 80%;
    min-height: 5%;
    text-align: justify;
    border-width: 4px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 15px;
    margin: 5px;
}

.confirm-button{
    background-color: rgba(47, 47, 150);
    color: white;
    width: auto;
    text-align: center;
    border-width: 4px;
    padding: 4px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 30px;
}

.file-explore-button{
    background-color: rgb(156, 156, 156);
    color: black;
    width: auto;
    border-width: 3px;
    padding: 1.5px;
    padding-left: 10px;
    padding-right: 10px;
}

.file-explore-button:hover{
    background-color: rgb(141, 141, 141);
}

.confirm-button > a {
    text-decoration: none;
    color: white;
}
.confirm-button:hover{
    background-color: rgba(47, 47, 150, 0.85);
}




ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav {
    display: flex;
    align-items: center;
}

.nav a {
    padding: 10px 15px;
    text-decoration: none;
    text-align: center;
    display: block;
    color: black;
}

.nav a:hover {
    background-color: rgb(163, 159, 221);
    color: black;
    border-radius: 10px;
}

.post>.header,
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

body>footer {
    text-align: center;
}

body>footer,
header {
    padding: 10px;
    background-color: rgb(209, 209, 209);
    border-radius: 10px;
    align-items: center;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 2vh 8vw;
    margin: 10px auto;
}

.post {
    width: 100%;
    background-color: rgb(209, 209, 209);
    border-radius: 10px;
    margin-bottom: 30px;
    padding: 6px;
}

.post:last-of-type {
    margin-bottom: 0px;
}


.sidebar {
    padding: 20px;
    background-color: rgb(209, 209, 209);
    border-radius: 10px;
}

.header .icon {
    width: 52px;
    height: 52px;
    padding-right: 20px;
}

.post .icon {
    width: 32px;
    height: 32px;
}

.header+.img {
    width: 100%;
    height: auto;
    display: block;
}

img~.date {
    color: rgb(0, 174, 255);
    font-weight: bolder;
}

.container {
    justify-items: center;
    padding-right: 10px;
}

@media screen and (max-width: 500px) {
    .grid {
        grid-template-columns: 1fr;
        gap: 2vh 8vw;
        margin: 10px auto;
    }

    .sidebar {
        display: none; /* Ukryj sidebar */
    }
} 

