* {
    font-family: "Courier New"
}

#header {
    color: black;
    font-size: 30px;
}

h1 {
    color: rgba(47, 47, 150);
    font-size: 30px;
}

h2 {
    color: rgb(0, 174, 255);
}



.form {
    width: 100%;
    max-width: 330px;
    padding: 5%;
    margin: auto;
    text-align: center;
    text-shadow: 1px 1px 4px rgb(100, 65, 42);;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 8px solid rgba(255, 255, 255, 0.658);
}




.input {
    width: auto;
    text-align: left;
    border-width: 4px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin: 5px;
}

textarea {
    max-width: 80%;
    min-width: 80%;
    min-height: 5%;
    text-align: justify;
    border-width: 4px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 15px;
    margin: 5px;
}

.confirm-button {
    background-color: rgb(117, 180, 146);
    color: white;
    width: auto;
    text-align: center;
    border-width: 4px;
    padding: 4px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 30px;
}

.file-explore-button {
    background-color: rgb(156, 156, 156);
    color: black;
    width: auto;
    border-width: 3px;
    padding: 1.5px;
    padding-left: 10px;
    padding-right: 10px;
}

.file-explore-button:hover {
    background-color: rgb(141, 141, 141);
}

.confirm-button>a {
    text-decoration: none;
    color: white;
}

.confirm-button:hover {
    background-color: rgb(148, 215, 179);
}




ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav {
    display: flex;
    align-items: center;
}

.nav a {
    padding: 10px 15px;
    text-decoration: none;
    text-align: center;
    display: block;
    color: black;
}

.nav a:hover {
    background-color: rgb(163, 159, 221);
    color: black;
    border-radius: 10px;
}

.post>.header,
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.add-post-body {
    background-image: url(res/wallpaper_daekgreen_pattern.jpg);
    background-size: 100%;
}
.login-body {
    background-image: url(res/wallpaper_beige-pattern_repeating.jpg);
    background-size: 100%;
}
.index-body {
    background-image: url(res/NSwitch_AnimalCrossingNewHorizons_bg_grass.jpg);
    background-size: 10%;
}

body>footer {
    text-align: center;
}

body>footer,
header {
    padding: 10px;
    background-image: url(res/bg_grainy_gradient.png);
    background-size: 100%;
    border-radius: 35px;
    align-items: center;
    border: 6px solid rgba(255, 255, 255, 0.658);
}


.grid {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 2vh 8vw;
    margin: 10px auto;
}

.post {
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    margin-bottom: 30px;
    padding: 10px;
}

.post:last-of-type {
    margin-bottom: 0px;
}


.sidebar {
    padding: 20px;
    background-color: rgb(209, 209, 209);
    border-radius: 10px;
    border: 6px solid rgba(255, 255, 255, 0.658);
}

.header .icon {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.758);
    margin-top: 3px;
    margin-bottom: 10;
    
}

.post .icon {
    max-width: 50px;
    border-radius: 100%;
    border: 3px solid rgba(235, 223, 183, 0.758);
}

.header+.img {
    width: 100%;
    height: auto;
    display: block;
}

.img {
    width: 100%;
    height: auto;
    display: block;
}

img~.date {
    color: rgb(0, 174, 255);
    font-weight: bolder;
}

.container {
    justify-items: center;
    padding-right: 10px;
}

#useraccountIcon {
    cursor: pointer;
}

.dropdown {
    position: relative;
    float: right;
}

.dropdown-content {
    display: none;
    min-width: 160px;
    overflow: auto;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    background-color: rgb(209, 209, 209);
    border-radius: 10px;
    z-index: 1;
    right: -10px;
    top: 75px;
}

.dropdown-content p {
    padding: 10px 15px;
    text-align: left;
    display: block;
    color: rgb(83, 66, 66);
}

.show {
    display: block;
}

@media screen and (max-width: 500px) {
    .grid {
        grid-template-columns: 1fr;
        gap: 2vh 8vw;
        margin: 10px auto;
    }

    .sidebar {
        display: none;
        /* Ukryj sidebar */
    }
}